<html lang="en" ng-app="llts" ng-controller="MainController">
	<head>
		<title ng-bind="page.title()">LDS Leader Tool Suite</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

		<base href="/">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
		<link rel="stylesheet" href="./assets/app.css">
		<link rel="icon" type="image/png" href="./assets/llts.png">
	</head>
	<body layout="row">
		<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left">
			<md-toolbar>
				<h1 class="md-toolbar-tools">
					<a ng-href="/" layout="row" flex class="llts-logo">
						<md-icon md-svg-icon="logo" class="logo"></md-icon>
						<div class="llts-logotype" layout="column" layout-align="center">LDS Leader Tool Suite</div>
					</a>
				</h1>
			</md-toolbar>
			<md-content flex role="navigation">
				<md-list>
					<md-item ng-repeat="it in nav.items()">
						<md-button ng-click="select(it)" ng-class="{'selected': nav.selected(it)}">
							<md-icon md-svg-icon="{{it.icon}}" class=""></md-icon>
							{{it.text}}
						</md-button>
					</md-item>
				</md-list>
			</md-content>
		</md-sidenav>
		<div layout="column" tabIndex="-1" role="main" flex>
			<md-toolbar>
				<div class="md-toolbar-tools" tabIndex="-1">
					<md-button class="menu" hide-gt-sm ng-click="toggleSidenav('left')" aria-label="Show User List">
						<md-icon md-svg-icon="menu" ></md-icon>
					</md-button>
					<div layout="row" flex class="fill-height">
						<h2 class="md-toolbar-item md-breadcrumb">
							<span>{{page.title()}}</span>
						</h2>
					</div>
				</div>
			</md-toolbar>
			<md-content ng-view md-scroll-y flex class="md-padding"></md-content>
		</div>
		<!-- Angular Material Dependencies -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-resource.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-messages.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-aria.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

		<script src="./src/config/Config.js"></script>
		<script src="./src/config/Constants.js"></script>
		<script src="./src/config/Routes.js"></script>

		<script src="./src/auth/Auth.js"></script>
		<script src="./src/auth/provider/AuthFactory.js"></script>
		<script src="./src/auth/controller/AuthController.js"></script>
		<script src="./src/auth/controller/LoginController.js"></script>
		<script src="./src/auth/controller/RegisterController.js"></script>

		<script src="./src/organization/Organization.js"></script>
		<script src="./src/organization/controller/OrganizationController.js"></script>

		<script src="./src/first.js"></script>
		<script src="./src/page/provider/PageFactory.js"></script>
		<script src="./src/page/provider/NavFactory.js"></script>
		<script src="./src/page/controller/TitleController.js"></script>
		<script src="./src/page/controller/MainController.js"></script>
		<script src="./src/page/controller/LandingController.js"></script>
		<script src="./src/page/controller/AboutController.js"></script>
		<script src="./src/page/controller/NotFoundController.js"></script>
	</body>
</html>
