<div layout="column">
	<md-content>
		<md-list class="md-default-theme">
			<md-list-item class="md-3-line md-with-secondary" ng-click="navigate(org.id)" ng-repeat="org in orgs">
				<a href="javascript:void(0)" class="md-list-item-text">
					<h3 class="md-primary">{{org.name}}</h3>
					<p ng-pluralize count="org.districts.length"
						when="{'0': 'No Districts',
							'one': '1 District',
							'other': '{} Districts'}">
					</p>
					<p ng-pluralize count="org.households.length"
						when="{'0': 'No Households',
							'one': '1 Household',
							'other': '{} Households'}">
					</p>
					<div class="md-secondary" layout="row" layout-align="center center">
						<md-button ng-click="editOrg($event, $index)" class="md-raised">Edit</md-button>
						<md-button ng-click="deleteOrg($event, $index)" class="md-raised md-warn">Delete</md-button>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</a>
			</md-list-item>
		</md-list>
	</md-content>
</div>
<md-button class="md-accent md-fab md-fab-bottom-right" ng-click="createDialog($event)">+</md-button>